/* Chatbot.css */

.chatbot-container {
    width: 80vw;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(5, 10, 10, 0.635);
  }
  .chatbot-messages {
    height: 500px;
    overflow-y: scroll;
    padding: 8px;
  }
  .message {
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px !important;
    line-height: 1.5;
  }
  .user-message {
    background-color: #007bff;
    color: #fff;
    text-align: right;
  }
  .ai-message {
    background-color: #c5c1c1;
    text-align: left;
  }
  .chatbot-input-form {
    display: flex;
    margin-top: 16px;
    width: 100%;
  }
  .chatbot-input-form input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
  }
  .chatbot-input-form button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    cursor: pointer;
  }
  .chatbot-input-form button:hover {
    background-color: #0056b3;
  }

.backButtonDesignDiv{
  display: flex;
}
.closeButton{
  margin-top: 16px;
  padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px ;
}