.pNav{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

button{
    padding: 5px;
    /* border-style: dotted; */
    text-decoration: none;
}

.logout-btn{
    background-color: rgba(255, 0, 8, 0.85);
    color:white;
}
.upload-btn{
    background-color: rgba(0, 89, 255, 0.85);
    color:white;
}

.chatButtonOn{
    /* float: right; */
    position: absolute;
    z-index: 999;
    right: 2rem;
    bottom: 2rem;
    height: 100px;
    aspect-ratio: 1/1;
    border: none;
    background-color: transparent;
}

.chatButtonOn img{
    height: 100%;
    aspect-ratio: 1/1;
}

/* Modal */
.modal {
    /* display: block; Ensure the modal is visible */
    position: fixed; /* Position the modal relative to the viewport */
    z-index: 1000; /* Ensure modal appears above other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    overflow: auto; /* Allow scrolling if content overflows */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Center modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Set width of modal */
    max-width: 600px; /* Max width of modal */
    border-radius: 8px;
    position: relative; /* Needed for positioning close button */
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Close button hover effect */
.close:hover {
    color: #000;
}

