$primary: #667eea;
@import "~bootstrap/scss/bootstrap.scss";
@import "./register";
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}
.loading-wrapper {
    background-color: #edf2f6;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 200px;
    }
}
.btn-primary {
    color: white;
    &:hover,
    &:focus {
        color: white;
    }
}

.login-container {
    width: 100%;
    height: 100%;
    background-color: white;
    .card-wrapper {
        background-color: #ebecf1;
        padding: 1rem;
        border-radius: 1rem;
    }
}
.metamask-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    .left-image-wrapper {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        img {
            transform: scale(1.9);
            width: 50%;
        }
    }
    .btn-mm {
        background-color: #e98a3a;
        font-size: 1.5rem;
        font-family: var(--bs-font-sans-serif);
        padding: 8px 16px;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-bottom: 0.5rem;
        &:focus {
            box-shadow: none;
        }
    }
    .right-buttons-wrapper {
        width: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
.loading-wrapper {
    width: 100%;
    height: 100%;
}
